{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="#">
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

  <title>일기 작성 확인</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <style>
    #container {
      max-width: 390px;
      max-height: 844px;
      margin: 0 auto;
      text-align: center;
      height: 100vh;
      position: relative;
      background-color: #F5F5f5;
    }

    * {
      font-family: 'Noto Sans KR', sans-serif;
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/check.css' %}" />
</head>

<body>
  <div id="container">
    <div id="grayArea">

      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if request.user == post.writer %}
        <img src="{% static 'images/deltete.png' %}" id="delete"
          onclick="location.href='{% url 'post_delete' post.id %}'">
        <input type="image" src="{% static 'images/correctionBox.png' %}" id="correctionBox">
        <input type="image" src="{% static 'images/correction.png' %}" id="correction">
        {% else %}
        <div><br><br><br> </div>
        {% endif %}
        <div id="scroll">
          <div id="whiteBoxArea">
            <div id="whiteBox">
              <div id="whiteBoxContent">
                <div>{{ post.titleDate }}</div>
                <hr id="line">
                </hr>
                <div>
                  {% if post.image %}
                  <img src="{{ post.image.url }}" width="200px" height="200px" />
                  {% endif %}
                </div>
                <textarea id="content" name="content">{{ post.content }}</textarea>
              </div>
            </div>
          </div>
      </form>

      <!-- 댓글 -->
      {% if user.is_authenticated %} <!-- 로그인 되어있다면 댓글 창 열림 -->
      <form method="POST">
        {% csrf_token %}
        <div id="comment">
          <div id="count"></div> <!-- {#{comment_count}#}-->
          <div id="commentInput">
            <input type="text" name="comment_content" /> <!-- comment_content 라는 name 에서 댓글 내용을 가져옴-->
            <input type="image" src="{% static 'images/commentSave.png' %}" id="commentSave">
            <input type="image" src="{% static 'images/commentSave2.png' %}" id="commentSave2">
          </div>
        </div>

        <!-- 템플릿언어를 주석처리하려면 {# (내용) #} 이라서 #이 쓰여있는거니까 할떄는 지우고 해용!!-->
        <!-- 댓글 목록들 !! -> 나중에 for 문 이용해서 코드 짜서 댓글 내용들 가져오기 -->
        <!-- { #% for  %#} --> <!-- for문으로 구현하기 뒤에 내용은 변수에 따라 써주세요 (지정한변수) -->
        <div id="commentBox">
          <img src="{% static 'images/profile.png' %}" id="profile" width="38px"> <!-- 그냥 다 같은 사진으로 하기 -->
          <div id="name">미영</div> <!-- writer 템플릿 언어로 집어넣기 {#{ (지정한변수).writer #}}-->
          <div id="commentContent">왜 글을 쓰다마세요..</div> <!-- comment 내용 템플릿 언어로 집어넣기 {#{(지정한 변수).comment}#} -->
        </div>
        <!-- 삭제하는거 할 때는 => {#% if request.user == post.writer %#} : 작성자여야지만 삭제하도록 해주세용-->

        <!-- {#% endfor %#}  -->
        {% else %}
        <div><br>
          로그인 후에 댓글 이용이 가능합니다!
        </div>
        {% endif %}
      </form>
    </div>

    <img src="{% static 'images/Rectangle 8.png' %}" id="greenBox" width="390px">
    <div id="greenArea">
      <img src="{% static 'images/calender.png' %}" id="calender">
      <img src="{% static 'images/circle.png' %}" id="circle" onclick="location.href='{% url 'create' %}'">
      <img src="{% static 'images/input.png' %}" id="input" onclick="location.href='{% url 'create' %}'">
      <img src="{% static 'images/data.png' %}" id="data">
      <img src="{% static 'images/shop.png' %}" id="shop" onclick="location.href='{% url 'home' %}'">
      {% if user.is_authenticated %}
      <div id="logout" onclick="location.href='{% url 'accounts:logout' %}'">로그아웃</div>
      {% else %}
      <div id="logout" onclick="location.href='{% url 'accounts:login' %}'">로그인</div>
      {% endif %}
    </div>
  </div>
</body>
<script src="{% static 'script/check.js' %}"></script>

</html>