{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="#">
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

  <title>일기 작성 확인</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <style>
    #container {
      max-width: 390px;
      max-height: 844px;
      margin: 0 auto;
      text-align: center;
      height: 100vh;
      position: relative;
      background-color: #F5F5f5;
    }

    * {
      font-family: 'Noto Sans KR', sans-serif;
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/check.css' %}" />
</head>

<body>
  <div id="container">
    <div id="grayArea">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="{% static 'images/deltete.png' %}" id="delete"
          onclick="location.href='{% url 'post_delete' post.id %}'">
        <input type="image" src="{% static 'images/correctionBox.png' %}" id="correctionBox">
        <input type="image" src="{% static 'images/correction.png' %}" id="correction">
        <div id="scroll">
          <div id="whiteBoxArea">
            <div id="whiteBox">
              <div id="whiteBoxContent">
                <div>{{ post.titleDate }}</div>
                <hr id="line">
                </hr>
                <div>
                  {% if post.image %}
                  <img src="{{ post.image.url }}" width="200px" height="200px" />
                  {% endif %}
                </div>
                <textarea id="content" name="content">{{ post.content }}</textarea>
              </div>
            </div>
          </div>

          <div id="comment">
            <div id="count"></div>
            <div id="commentInput">
              <img src="{% static 'images/commentSave.png' %}" id="commentSave">
              <img src="{% static 'images/commentSave2.png' %}" id="commentSave2">
            </div>
            <div id="commentBox">
              <img src="{% static 'images/profile.png' %}" id="profile" width="38px">
              <div id="name">미영</div>
              <div id="commentContent">왜 글을 쓰다마세요..</div>
            </div>
            <div id="commentBox">
              <img src="{% static 'images/profile.png' %}" id="profile" width="38px">
              <div id="name">미영</div>
              <div id="commentContent">더 써주세요...</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <img src="{% static 'images/Rectangle 8.png' %}" id="greenBox" width="390px">
    <div id="greenArea">
      <img src="{% static 'images/calender.png' %}" id="calender">
      <img src="{% static 'images/circle.png' %}" id="circle">
      <img src="{% static 'images/input.png' %}" id="input">
      <img src="{% static 'images/data.png' %}" id="data">
      <img src="{% static 'images/shop.png' %}" id="shop" onclick="location.href='{% url 'home' %}'">
      <div id="logout" onclick="goToLoginPage()">로그아웃</div>
    </div>
  </div>
</body>
<script src="{% static 'script/check.js' %}"></script>

</html>