{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

  <title>일기작성</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <style>
    #container {
      max-width: 390px;
      max-height: 844px;
      margin: 0 auto;
      text-align: center;
      height: 100vh;
      position: relative;
      background-color: #F5F5f5;
    }

    * {
      font-family: 'Noto Sans KR', sans-serif;
    }
  </style>
  <link rel="stylesheet" href="{% static 'css/input.css' %}" />
</head>

<body>
  <div id="container">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div id="grayArea">
        <div id="whiteBoxArea">
          <div id="whiteBox">
            <div id="whiteBoxContent">
              <div id="date"></div>
              <hr id="line">
              </hr>
              <div id="image-preview">
                {% if request.FILES.image %}
                {% with upload_image=settings.MEDIA_URL|add:request.FILES.image.name %}
                <img src="{{ upload_image.url }}" width="240px">
                {% endwith %}
                {% else %}
                <img src="{% static 'images/graypic.png' %}" width="240px">
                {% endif %}
              </div>
              <label for="content"></label>
              <textarea id="content" name="content"></textarea>
            </div>
          </div>
        </div>
      </div>

      <img src="{% static 'images/Rectangle 8.png' %}" id="greenBox" width="390px">
      <div id="greenArea">
        <input type="image" src="{% static 'images/circle.png' %}" id="circle" alt="save">
        <input type="image" src="{% static 'images/save.png' %}" id="save" alt="save">
        <img src="{% static 'images/shop.png' %}" id="home" onclick="location.href='{% url 'home' %}'">
        <!-- 이미지 -->
        <label for="image-input">
          <img src="{% static 'images/image.png' %}" id="image" width="43px">
        </label>

        <!-- 파일 선택 버튼 -->
        <input type="file" name="image" accept="image/*" id="image-input" style="display: none;">
      </div>
    </form>
  </div>
  <script>
    const imageInput = document.getElementById('image-input');
    const imagePreview = document.getElementById('image-preview');

    imageInput.addEventListener('change', function () {
      const file = imageInput.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          const imageUrl = e.target.result;
          imagePreview.innerHTML = `<img src="${imageUrl}" width="240px">`;
        }
        reader.readAsDataURL(file);
      } else {
        imagePreview.innerHTML = `<img src="{% static 'images/graypic.png' %}" width="240px">`;
      }
    });
  </script>
  <script src="{% static 'script/input.js' %}"></script>
</body>

</html>