{% load static %}
<style>
    #container {
        max-width: 350px;
        max-height: 30px;
        margin: 0 auto;
        text-align: center;
        height: 100vh;
        position: relative;
    }

    * {
        font-family: "Noto Sans KR", sans-serif;
    }

    .whiteBoxContent {
        width: 350px;
        height: 30px;
        padding-top: 10px;
    }

    .boxDate {
        color: #4c7343;
        font-weight: bold;
        font-size: 15px;
        text-align: left;
        float: left;
        width: 70%;
        margin-left: 24px;
        margin-bottom: 8px;
    }

    .count {
        font-weight: bolder;
        text-shadow: 2px 2px 3px gray;
        float: left;
        width: 20%;
    }

    .line {
        width: 300px;
        background-color: #bcbcbc;
    }
</style>

<div class="whiteBoxContent">
    <h5 class="boxDate">{{ post.titleDate|date:"Y년 m월 d일 D" }}</h5>
    <div class="count">(2)</div>
</div>